{% extends 'main.html' %}



{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
    </script>
    <form method='GET' class="d-flex justify-content-center">
        <input type='text' name='q' value='{{ request.GET.q }}'>
        <input class="button" type='submit' value="Search Profile">
      </form>
    <div >
        <h1 class="d-flex justify-content-center">All doctors:</h1>
        <hr>
        <ul  style="list-style:none;">
        {%for doctor in object_list%}
            <li></li>
            <li> <img src="{{doctor.profile_photo.url}}" alt="" width="200" height="200"></li>
            <li>{{doctor.user.first_name}} {{doctor.user.last_name}}</li>
            {%if request.user.is_authenticated%}
            <li><a href="{% url 'appointment_by_doctor' doctor.user.email%}">Make an appointment</a></li>
            {%endif%}
            <hr>

     
        {%endfor%}
    </ul>
    </div>






{% endblock content %}