{% extends 'main.html' %}

{% block content %}

<h1 class="d-flex justify-content-center">Main page</h1>
<div class="d-flex justify-content-center">
    <ul style="list-style:none;">
        {% if request.user.is_staff%}
        <li><a href="{% url 'adminPage' %}">For Admins</a></li>
        <hr>
        {% endif %}
        {% if not request.user.is_staff%}
        <li> <a href="make_an_appointment/">Make An Appointment</a></li>
        <hr>
        {%endif%}
        <li><a href="{% url 'doctor_list'%}">Our Doctors</a></li>
        <hr>
        <li> <a href="services/">Our Services</a></li>
        <hr>
        <li> <a href="contacts/">Contact Us</a></li>
        <hr>
        <li> <a href="about_us/">About Us</a></li>
       
    </ul>
</div>
{% endblock content %}